{% extends 'base.html' %}

{% block head %}
<title>Add Demographics</title>
{% endblock %}

{% block body %}
<h1>Add an employee</h1>
<br>

<form action='/add-demographic' method='POST' class="row g-3">
    <div class="col-md-4">
        <label for="UUID" class="form-label">ID</label>
        <input type="text" class="form-control" name="UUID" id="UUID" placeholder="01" required>
    </div>

    <div class="col-md-4">
        <label for="fullName" class="form-label">Full name</label>
        <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Abebe Bikila" required>
    </div>

    <div class="col-md-4">
        <label class="form-label">Gender</label><br>
        <div class="form-check form-check-inline my-2">
            <input class="form-check-input" type="radio" name="gender" id="genderMale" value="Male" checked>
            <label class="form-check-label" for="genderMale">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="Female">
            <label class="form-check-label" for="genderFemale">Female</label>
        </div>
    </div>

    <div class="col-md-4">
        <label for="dateOfBirth" class="form-label">Date of birth</label>
        <input class="form-control" type="date" name="dateOfBirth" id="dateOfBirth" value="1996-03-08" required>
    </div>

<!--     <div class="col-md-4">
        <label for="emailAddress">Email address</label>
        <input type="email" class="form-control" name="emailAddress" id="emailAddress" aria-describedby="emailHelp"
            placeholder="antenehbedilu@gmail.com" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div> -->

<!--     <div class="col-md-4">
        <label for="phoneNo" class="form-label">Phone no.</label>
        <input type="tel" class="form-control" name="phoneNo" id="phoneNo"
            pattern="[+]{1}[1-5]{3}-[0-9]{3}-[0-9]{3}-[0-9]{3}" placeholder="+251-715-514-890" required>
    </div> -->

    <div class="col-md-4">
        <label for="employmentDate" class="form-label">Employment Date</label>
        <input class="form-control" type="date" name="employmentDate" id="employmentDate" required>
    </div>


    <div class="col-md-4">
        <label for="department" class="form-label">Department</label>
        <select class="form-select " name="department" id="department" required>
            <option selected disabled value="">Choose...</option>
            <option value="CEO office">CEO office</option>
            <option value="Category Department">Category Department</option>
            <option value="Marketing Department">Marketing Department</option>
            <option value="Warehouse, Logistic & Inventory Dept.">Warehouse, Logistic & Inventory Dept.</option>
            <option value="Modern Trade Dept.">Modern Trade Dept.</option>
            <option value="South, East, West Dept">South, East, West Dept.</option>
            <option value="RS North Dept.">RS North Dept.</option>
            <option value="RS W/S Dept.">RS W/S Dept.</option>
            <option value="RS Retail Dept.">RS Retail Dept.</option>
            <option value="Cement & Construction Dept.">Cement & Construction Dept.</option>
            <option value="Finance Operation Dept.">Finance Operation Dept.</option>
            <option value="ICT Department">ICT Department</option>
            <option value="Admin & Facility Dept.">Admin & Facility Dept.</option>
            <option value="HR Department">HR Department</option>
        </select>
    </div>

    <div class="col-md-4">
        <label for="position" class="form-label">Position</label>
        <select class="form-select " name="position" id="position" required>
            <option selected disabled value="">Choose...</option>
            <option value="Janitor">Janitor</option>
            <option value="Security">Security</option>
            <option value="Data Encoder">Data Encoder</option>
            <option value="Senior ICT Manager">Senior ICT Manager</option>
            <option value="Senior Accountant I">Senior Accountant I</option>
            <option value="Logistics Manager">Logistics Manager</option>
            <option value="Project Manager">Project Manager</option>
            <option value="Internal Auditor">Internal Auditor</option>
            <option value="Legal Officer">Legal Officer</option>
            <option value="Sales Cashier ">Sales Cashier </option>
            <option value="Online Sales Officer">Online Sales Officer</option>
            <option value="Secretary & Archivist">Secretary & Archivist</option>
            <option value="ICT support Officer">ICT support Officer</option>
            <option value="Facility Purchaser">Facility Purchaser</option>
            <option value="Sales & Deriver ">Sales & Deriver </option>
            <option value="E-commerce Supervisor">E-commerce Supervisor</option>
            <option value="Brand Manager">Brand Manager</option>
            <option value="Chief HR Officer">Chief HR Officer</option>
            <option value="Chef Finance Officer">Chef Finance Officer</option>
        </select>
    </div>

    <div class="col-md-4">
        <label for="grade" class="form-label">Grade</label>
        <select class="form-select " name="grade" id="grade" required>
            <option selected disabled value="">Choose...</option>
            <option value=1>Grade 1</option>
            <option value=2>Grade 2</option>
            <option value=3>Grade 3</option>
            <option value=4>Grade 4</option>
            <option value=5>Grade 5</option>
            <option value=6>Grade 6</option>
            <option value=6>Grade 7</option>
            <option value=6>Grade 8</option>
            <option value=6>Grade 9</option>
        </select>
    </div>

    <div class="col-md-4">
        <label for="lineManager" class="form-label">Line Manager</label>
        <select class="form-select " name="lineManager" id="lineManager" required>
            <option selected disabled value="">Choose...</option>
            <option value="CEO">Chief Executive Officer (CEO)</option>
            <option value="Operation Unit">Operation Unit</option>
            <option value="FMCG Unit">FMCG Unit</option>
            <option value="Construction Unit">Construction Unit</option>
            <option value="Finance Unit">Finance Unit</option>
            <option value="Human Resource Unit">Human Resource Unit</option>
            <option value="Export Division">Export Division</option>            
        </select>
    </div>

    <hr class="my-4">

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Add an employee</button>
    </div>

    <!--     <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary btn-lg" type="submit">Add an employee</button>
    </div> -->

</form>

{% endblock %}