{% extends 'base.html' %} {% block head %}
<title>Docs</title>
{% endblock %} {% block body %}
<h1>Docs</h1>
<br />

<div class="container-fluid">
    <h3>FAQ</h3>
    <img src="https://s4.gifyu.com/images/FAQ.gif" class="img-fluid" alt="FAQ Docs">
    <h3>Demographics</h3>
    <img src="..." class="img-fluid" alt="Demographics Docs">
    <h3>Talent Assessment</h3>
    <img src="..." class="img-fluid" alt="Talent Assessment Docs">
    <h3>Smart Goals</h3>
    <img src="..." class="img-fluid" alt="Smart Goals Docs">
    <h3>Best Performer</h3>
    <img src="..." class="img-fluid" alt="Best Performer Docs">
</div>


{% endblock %}