{% extends 'base.html' %}

{% block head %}
<title>Guiding Assessment</title>
{% endblock %}

{% block body %}
<h1>Guiding Assessment</h1>
<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Criteria</th>
        <th scope="col">Excellent</th>
        <th scope="col">Very Good</th>
        <th scope="col">Good</th>
        <th scope="col">Least</th>
        <th scope="col">Very Least</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">1</td>
        <th>Job Knowledge</th>
        <td>Justify a stand or a decision in the job description.</td>
        <td>Distinguish between different parts of the job description.</td>
        <td>Use the Job information in a new way.</td>
        <td>Explain the idea or concepts of job description.</td>
        <td>Recalling information in the job description.</td>
      </tr>
      <tr>
        <td scope="row">2</td>
        <th>Quality of Work</th>
        <td>Create innovative quality of work.</td>
        <td>Evaluate the quality of once work.</td>
        <td>Distinguish between different parts quality work.</td>
        <td>Use the quality work procedure in a new way.</td>
        <td>Explain the Quality work procedure.</td>
      </tr>
      <tr>
        <td scope="row">3</td>
        <th>Accountability</th>
        <td>Internalize and believe the value of accountability.</td>
        <td>Compare, relate and accept different viewpoints of accountability.</td>
        <td>Attach importance to the information gained to accountability.</td>
        <td>Inquiry and response to accountability.</td>
        <td>Listen and read about accountability.</td>
      </tr>
      <tr>
        <td scope="row">4</td>
        <th>Attitude/Respectfulness</th>
        <td>Perform respectfulness without thinking.</td>
        <td>Modify respectfulness to fit new requirements.</td>
        <td>Perform respectfulness with minimum errors.</td>
        <td>Perform respectfulness by guided instruction.</td>
        <td>Observe other persons respectfulness behavior and copy it.</td>
      </tr>
      <tr>
        <td scope="row">5</td>
        <th>Punctuality & Attendance</th>
        <td>Internalize and believe the value of Punctuality.</td>
        <td>Compare, relate and accept different viewpoints of Punctuality.</td>
        <td>Attach importance to the information gained to Punctuality.</td>
        <td>Inquiry and response to Punctuality.</td>
        <td>Listen and read about Punctuality.</td>
      </tr>
      <tr>
        <td scope="row">6</td>
        <th>Policy & Procedure</th>
        <td>Follows EATH policies and procedures as a bible.</td>
        <td>Modify EATH policies and procedures to fit new requirements.</td>
        <td>Perform EATH policies and procedures with minimum errors.</td>
        <td>Perform EATH policies and procedures by guided instruction.</td>
        <td>Aware EATH policies and procedures.</td>
      </tr>
      <tr>
        <td scope="row">7</td>
        <th>Compellation of Assignment</th>
        <td>Justify a stand or a decision of the completes tasks on time.</td>
        <td>Distinguish between different parts the completes tasks in due time.</td>
        <td>Use the complete tasks in a new way and in time.</td>
        <td>Explain the idea or concepts completes tasks on time.</td>
        <td>Recalling information in the completes tasks.</td>
      </tr>
      <tr>
        <td scope="row">8</td>
        <th>Confidentiality</th>
        <td>Internalize and believe the value of confidentiality.</td>
        <td>Compare, relate and accept different viewpoints of confidentiality.</td>
        <td>Attach importance to the information gained to confidentiality.</td>
        <td>Inquiry and response to confidentiality.</td>
        <td>Listen and read about confidentiality.</td>
      </tr>
      <tr>
        <td scope="row">9</td>
        <th>Accepts criticism</th>
        <td>Internalize and believe the value of criticism.</td>
        <td>Compare, relate and accept different viewpoints of criticism.</td>
        <td>Attach importance to the information gained to criticism.</td>
        <td>Inquiry and response to criticism.</td>
        <td>Listen and read about criticism.</td>
      </tr>
      <tr>
        <td scope="row">10</td>
        <th>Appearance of Work Area</th>
        <td>Create innovative work area appearance.</td>
        <td>Evaluate the work area appearance.</td>
        <td>Distinguish between different parts work area appearance components.</td>
        <td>Use work area appearance procedure in a new way.</td>
        <td>Explain the work area appearance procedure.</td>
      </tr>
    </tbody>
  </table>
  {% endblock %}