{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4"> Besh Gebeya Performance Management</h1>
    <p class="lead">
        is an ongoing process of communication between a supervisor and an
        employee that occurs throughout the year, in support of accomplishing the strategic objectives of the
        organization. The communication process includes clarifying expectations, setting objectives, identifying goals,
        providing feedback, and reviewing results.
    </p>
    <h3>The cycle includes Planning, Checking-In, and Review.</h3>
    <ul>
        <li>To begin the planning process, you and your employee review overall expectations, which includes
            collaborating on the development of performance objectives. Individual development goals are also updated.
            You then develop a performance plan that directs the employee's efforts toward achieving specific results to
            support organizational excellence and employee success.</li>
        <li>Goals and objectives are discussed throughout the year, during check-in meetings. This provides a framework
            to ensure employees achieve results through coaching and mutual feedback.</li>
        <li>At the end of the performance period, you review the employee's performance against expected objectives, as
            well as the means used and behaviors demonstrated in achieving those objectives. Together, you establish new
            objectives for the next performance period.</li>
    </ul>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://tgaconsultancy.com/" role="button">Learn more</a>
    </p>
</div>

{% endblock %}