{% extends 'base.html' %}

{% block head %}
<title>Rating Scale</title>
{% endblock %}

{% block body %}
<h1>Rating Scale</h1>
<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status</th>
        <th scope="col">Minimum</th>
        <th scope="col">Maximum</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Excellent</td>
        <td>4.45</td>
        <td>5.00</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Very Good</td>
        <td>3.45</td>
        <td>4.44</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Good</td>
        <td>2.45</td>
        <td>3.44</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Least</td>
        <td>1.45</td>
        <td>2.44</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Very Least</td>
        <td>1.00</td>
        <td>1.44</td>
      </tr>
    </tbody>
  </table>
  {% endblock %}