{% extends 'base.html' %} {% block head %}
<title>Employee of the year</title>
{% endblock %} {% block body %}
<h1>Employee of the year</h1>
<br />

{% for employee in employees %} {% set employee = employee.to_dict() %}
<div class="d-flex justify-content-center">
  <div class="card border-primary mb-3" style="max-width: 18rem">
    <div class="card-header">
      Best Performer of {{ employee['reviewDate'] }}
    </div>
    <div class="card-body">
      <h5 class="card-title">Employee ID {{ employee['UUID'] }}</h5>
      <p class="card-text">Review Year {{ employee['reviewDate'] }}</p>
    </div>
  </div>
</div>
<br />

{% endfor %} {% endblock %}